body {
  margin: 0px;
  background-color: #e3fdfd;
}
.th1 {
  margin: 0 auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 5.623rem;
  line-height: 2;
  animation: myanimation 5s infinite; /*16px=100%=1em=1rem #66BFBF  */
}

.mh1 {
  color: #00e7ff;
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  text-align: center;
}

.mh2 {
  width: 40%;
  font-size: 30px;
  margin: auto;
}
.th2 {
  animation: myanimation 5s infinite;
}
h2 {
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 2;
}
.Top {
  padding-top: 100px;
  text-align: center;
  background-color: #66bfbf;
}
.Bottom-cloud {
  position: absolute;
  left: 20%;
  bottom: 35%;
  height: 100px;
  width: 150px;
  filter: invert(20%);
}
.Top-cloud {
  position: absolute;
  right: 20%;
  top: 10%;
  height: 100px;
  width: 150px;
  filter: invert(20%);
}
@keyframes myanimation {
  0% {
    color: red;
  }
  25% {
    color: yellow;
  }
  50% {
    color: green;
  }
  75% {
    color: blue;
  }
  100% {
    color: red;
  }
}
.hr1 {
  border: 1px;
  border-bottom: 0px;
  border-style: none;
  border-top-style: dotted;
  border-color: darkgray;
  width: 6%;
  border-width: 15px;
  height: 0px;
  margin-top: 70px;
}

.hr2 {
  border: 1px;
  border-bottom: 0px;
  border-style: none;
  border-top-style: dotted;
  border-color: darkgray;
  width: 6%;
  border-width: 15px;
  height: 0px;
  margin-bottom: 50px;
}
a {
  font-size: 20px;
}

.nes-1 {
  margin: 30px;
  text-align: center;
}

.nes-2 {
  margin: 30px;
  margin-top: 50px;
  margin-bottom: 300px;
}

.Hello-img {
  float: left;
  margin-left: 150px;
  size: 50%;
}

.Middle {
  margin-top: 100px;
}

.Python {
  position: absolute;
  height: 100px;
  width: 150px;
  left: 30%;
}

.webdevelopment {
  position: absolute;
  height: 100px;
  width: 150px;
  right: 30%;
}
.p1 {
  position: absolute;
  left: 30%;
  margin-top: 200px;
}
.p2 {
  position: absolute;
  right: 35%;
  margin-top: 200px;
}
.nes2h21 {
  position: absolute;
  left: 30%;
  margin-top: 100px;
}
.nes2h22 {
  position: absolute;
  right: 20%;
  margin-top: 100px;
}

.bottom {
  text-align: center;
  background-color: #59c1bd;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 25px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-bottom: 30px;
  margin-top: 20px;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
a:hover {
  color: #eaf6f6;
}

.a1 {
  margin-right: 5px;
  text-decoration: none;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}

.a2 {
  margin-left: 5px;
  text-decoration: none;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}
