body { text-align: center;
    margin: 0px;
    background-color: #E3FDFD
 }
 h1 {
    margin: 0 auto 0 auto;
    font-family: 'Dancing Script', cursive;
    font-size: 5.623rem;
    line-height: 2;    
    animation: myanimation 10s infinite;                 /*16px=100%=1em=1rem #66BFBF  */
}
h2 {font-size: 2.5rem;
    font-weight: normal;
    animation: myanimation 10s infinite;  
}
.Top {
    padding-top: 100px;
    background-color: #E3FDFD
}  
.Bottom-cloud {position:absolute;
                left: 20%;
            bottom:40%}
.Top-cloud { position: absolute;
            right: 20%;
            Top:10%;            
}
@keyframes myanimation {
    0% {color: red;}
    25%{color:yellow;}
    50%{color:green;}
    75%{color:brown;}
    100% {color: red;}
  }
