body {background-color: lightblue;}
hr {background-color: lightblue;
    border-style: none;
    border-top-style: dotted;
    border-color: white;
    width: 20%;
    border-width: 5px;
    height: 0px;
    }
h1 {color: red;}
h3{color: red;}
